<div class="general-container">
  <div class="form">
    <form class="box" action="" method="POST">
      <div class="child-box">
        <p>full name</p>
        <input
          type="text"
          name="name"
          maxlength="30"
          placeholder="name"
          [(ngModel)]="user.fullname"
        />
      </div>
      <div class="child-box">
        <p>country</p>
        <input
          type="text"
          name="country"
          maxlength="30"
          placeholder="country"
          [(ngModel)]="user.country"
        />
      </div>
      <div class="child-box">
        <p>city</p>
        <input
          type="text"
          name="city"
          maxlength="30"
          placeholder="city"
          [(ngModel)]="user.city"
        />
      </div>
      <div class="child-box">
        <p>job</p>
        <input
          type="text"
          name="job"
          maxlength="30"
          placeholder="job"
          [(ngModel)]="user.job"
        />
      </div>

      <div class="error">
        <span>{{ error }}</span>
      </div>

      <div class="button-box">
        <input
          *ngIf="!loading"
          type="submit"
          name="submit"
          (click)="save()"
          value="SAVE"
        />

        <div class="spinner" *ngIf="loading">
          <mat-spinner [diameter]="25"></mat-spinner>
        </div>
      </div>
    </form>
  </div>
</div>
