<div *ngIf="user != undefined" class="background">
  <!-- app-delete-account-dialog -->
  <input
    type="checkbox"
    name="dialog_state"
    id="dialog_state"
    [(ngModel)]="dialog_state_delele_account"
    class="dialog_state"
  />

  <div id="dialog">
    <label id="dlg-back" for="dialog_state"></label>
    <div id="dlg-wrap">
      <app-delete-account-dialog
        [user_id]="user._id"
        (event)="closeDeleteDialog($event)"
      ></app-delete-account-dialog>
    </div>
  </div>

  <!-- MAIN PART -->
  <main class="main_area">
    <design-circle [hide_in_small_screen]="true"></design-circle>
    <!-- Settings Text and Divider -->
    <div class="content">
      <div class="text">
        <p>Settings</p>

        <div class="divider">
          <hr />
        </div>
      </div>

      <div class="main-container">
        <!-- 1 - SELECTION PART -->
        <div class="selection-part" *ngIf="show_selection_menu">
          <div class="selection-container">
            <div class="selection" [routerLink]="['/settings', 'general']">
              <div class="selection-content">
                <span>General Settings</span>
                <span>></span>
              </div>

              <mat-divider></mat-divider>
            </div>

            <div class="selection" [routerLink]="['/settings', 'username']">
              <div class="selection-content">
                <span>Change username</span>
                <span>></span>
              </div>

              <mat-divider></mat-divider>
            </div>

            <div class="selection" [routerLink]="['/settings', 'password']">
              <div class="selection-content">
                <span>Update password</span>
                <span>></span>
              </div>

              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="delete-container">
            <mat-divider></mat-divider>
            <label for="dialog_state">
              <div class="delete-account">
                <mat-icon class="icon-delete" aria-label="place"
                  >delete</mat-icon
                >
                <p>DELETE ACCOUNT</p>
              </div>
            </label>
          </div>
        </div>

        <!-- 2 - SELECTED TAB -->
        <div class="tab-part" *ngIf="!show_selection_menu">
          <div class="back-container" [routerLink]="['/settings']">
            <span>< {{ page_name }}</span>
          </div>

          <div class="tab-container" *ngIf="show_general_setting">
            <general-settings
              [user]="user"
              (event)="saveGeneralSettings($event)"
            ></general-settings>
          </div>

          <div class="tab-container" *ngIf="show_change_username">
            <username-settings
              (event)="saveUsername($event)"
            ></username-settings>
          </div>

          <div class="tab-container" *ngIf="show_update_password">
            <password-settings></password-settings>
          </div>
        </div>
      </div>

      <div class="settings-box" *ngIf="false">
        <!-- form part -->
        <div class="form">
          <form class="box" action="" method="POST">
            <div class="child-box">
              <p>full name</p>
              <input
                type="text"
                name="name"
                placeholder="name"
                [(ngModel)]="user.fullname"
              />
            </div>
            <div class="child-box">
              <p>country</p>
              <input
                type="text"
                name="country"
                placeholder="country"
                [(ngModel)]="user.country"
              />
            </div>
            <div class="child-box">
              <p>city</p>
              <input
                type="text"
                name="city"
                placeholder="city"
                [(ngModel)]="user.city"
              />
            </div>
            <div class="child-box">
              <p>job</p>
              <input
                type="text"
                name="job"
                placeholder="job"
                [(ngModel)]="user.job"
              />
            </div>

            <div class="error">
              <span>{{ error }}</span>
            </div>

            <div class="button-box">
              <input
                *ngIf="!loading"
                type="submit"
                name="submit"
                (click)="save()"
                value="SAVE"
              />

              <div class="spinner" *ngIf="loading">
                <mat-spinner [diameter]="25"></mat-spinner>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
