<div class="background">
    <div class="cicle"></div>

    <!-- MAIN PART -->
    <main>
        <!-- Settings Text and Divider -->
        <div class="content">
            <div class="text">
                <p>Settings</p>

                <div class="divider">
                    <hr>
                </div>

            </div>


            <div class="settings-box">
                <!-- form part -->
                <div class="form">
                    <form class="box" action="" method="POST">
                        <div class="child-box">
                            <p>name</p>
                            <input type="text" name="name" placeholder="name" value="Davis Miller">
                        </div>
                        <div class="child-box">
                            <p>country</p>
                            <input type="text" name="country" placeholder="country" value="France">
                        </div>
                        <div class="child-box">
                            <p>city</p>
                            <input type="text" name="country" placeholder="city" value="Paris">
                        </div>
                        <div class="child-box">
                            <p>job</p>
                            <input type="text" name="country" placeholder="job" value="Software Developer">
                        </div>
                        <div class="button-box">
                            <input type="submit" name="submit" value="SAVE">
                        </div>
                    </form>
                </div>

                <!-- divider -->
                <div class="divider">
                    <hr>
                </div>

                <!-- delete button -->
                <div class="delete-account">
                    <mat-icon class="icon-delete" aria-label="place">delete</mat-icon>
                    <p>DELETE ACCOUNT</p>
                </div>

            </div>
        </div>
    </main>

</div>