.background {
  overflow-x: hidden;

  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;

  .cicle {
    position: fixed;
    left: -75px;
    bottom: -100px;
    background: #7b77ff;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    z-index: -100;
  }

  main {
    height: calc(100vh - 80px);
    width: 100vw;
  }

  .content {
    //    background: lightcoral;
    text-align: center;
    transition: 0.25s;
    // background: lightcoral;
    width: 40%;
    margin: auto;
    .text {
      // background: lightcyan;
      margin: auto;
      margin-top: 30px;
      height: auto;
      font-size: 3em;
      transition: 0.25s;
      p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
      }

      .divider {
        position: relative;
        text-align: center;
        width: 45%;
        margin: auto;
      }
    }

    .settings-box {
      position: relative;
      top: 30px;
      width: 100%;
      //  background: lightgreen;
      text-align: center;

      .form {
        position: relative;
        margin: auto;
        text-align: center;
        width: 90%;
        // background: lightcoral;

        .child-box {
          position: relative;
          margin-bottom: 25px;
          p {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif !important;
            margin: 0;
            position: relative;
            left: 3%;
            float: left;
            font-size: 1.1em;
          }

          input {
            border: 0;
            background: none;
            //text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.397);
            background: #ffffff;
            padding: 14px;
            width: 100%;
            outline: none;
            color: black;
            border-radius: 50px;
            font-size: 1.3em;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif !important;
          }
        }
        .error {
          text-align: center;
          margin-top: 30px;
          span {
            color: rgba(255, 0, 0, 0.507);
          }
        }

        .button-box {
          input {
            border: 0;
            background: none;
            display: block;
            margin: auto;
            margin-top: 30px;
            text-align: center;
            border: 2px solid #7b77ff;
            padding: 7px 60px;
            outline: none;
            color: black;
            border-radius: 50px;
            transition: 0.25s;
            cursor: pointer;
            font-size: 1.1em;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif !important;
          }

          input[type="submit"]:hover {
            background: #7b77ff;
          }

          .spinner {
            display: block;
            margin: auto;
            margin-top: 40px;
            mat-spinner {
              margin: auto;
              text-align: center;
            }
          }
        }
      }

      .divider {
        position: relative;
        top: 60px;
        text-align: center;
        width: 45%;
        margin: auto;
      }

      .delete-account {
        cursor: pointer;
        position: relative;
        top: 120px;
        padding-bottom: 50px;
        display: inline-flex;
        color: rgba(250, 4, 4, 0.411);

        p {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
          font-size: 1.2em;
        }

        .icon-delete {
          margin-right: 5px;
        }
      }

      .delete-account:hover {
        color: rgb(250, 4, 4);
      }
    }
  }
}

// dialog
//MODAL PART
#console {
  display: none;
}

#dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;

  #dlg-back {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100%;
    cursor: pointer;
  }

  #dlg-wrap {
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    max-height: 800px;
    border-radius: 50px;
    /*border: 1px solid #969696;*/
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
}

.dialog_state {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.dialog_state:checked + #dialog,
#dialog.dialog_open {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

.dialog_state:checked + #dialog #dlg-wrap {
  max-height: 80vh;
  opacity: 1;
  padding: 2rem;
}

#dlg-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}

.main_area {
  transition: all 0.1s ease-out;
}

.dialog_state:checked ~ .main_area,
.main_area.dialog_open {
  filter: blur(20px);
}

.dialog_state:checked {
  .main_area {
    filter: blur(20px);
  }
}

@media screen and (max-width: 1350px) {
  #dialog {
    #dlg-wrap {
      width: 40% !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .content {
    width: 65% !important;
  }

  .cicle {
    display: none !important;
  }

  #dialog {
    #dlg-wrap {
      width: 60% !important;
    }
  }
}

@media screen and (max-width: 767px) {
  #dialog {
    #dlg-back {
    }

    #dlg-wrap {
      width: 80% !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .content {
    width: 90% !important;
    .text {
      font-size: 1.7em !important;

      .divider {
        width: 80% !important;
      }
    }

    .settings-box {
      top: 10px !important;

      .form {
        // background: lightcoral;

        .child-box {
          margin-bottom: 10px !important;
          p {
          }

          input {
            font-size: 1em !important;
          }
        }

        .button-box {
          input {
            margin-top: 30px !important;
            padding: 3px 40px !important;
            font-size: 1em !important;
          }

          input[type="submit"]:hover {
          }
        }
      }

      .divider {
        width: 80% !important;
      }

      .delete-account {
        top: 120px;

        p {
          font-size: 1em !important;
        }

        .icon-delete {
          margin-right: 0px !important;
          font-size: 1.3em !important;
        }
      }

      .delete-account:hover {
      }
    }
  }

  #dialog {
    #dlg-back {
    }

    #dlg-wrap {
      width: 90% !important;
    }
  }
}
