<div *ngIf="new_user == undefined">
  <app-loading></app-loading>
</div>

<!-- IF NEW USER -->
<div [hidden]="!new_user == true">
  <div class="page">
    <div class="context">
      <span class="title"
        >Hey Hello! <br /><br />Let`s start with picking a Username.</span
      >

      <form class="box" action="" method="post" #form="ngForm">
        <div class="child-box">
          <p>username</p>
          <input
            required
            matInput
            #input="ngModel"
            [(ngModel)]="username"
            placeholder="username"
            type="text"
            (keydown.space)="$event.preventDefault()"
            name="username"
          />
          <div class="icon">
            <mat-icon *ngIf="username_check_error" class="clear"
              >clear</mat-icon
            >
            <mat-spinner
              *ngIf="username_check_loading"
              [diameter]="23"
            ></mat-spinner>
            <mat-icon *ngIf="username_check_success" class="done"
              >done_outline</mat-icon
            >
          </div>
        </div>

        <p class="username-error">{{ username_error }}</p>

        <div class="button-box">
          <input
            [disabled]="!form.valid"
            type="submit"
            name="submit"
            value="START"
            (click)="assignUsername()"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="new_user == false">
  <div class="page">
    <!-- ------------------ADD MORE MODAL-------------------->
    <input
      type="checkbox"
      name="dialog_state"
      id="dialog_state"
      [(ngModel)]="dialog_state_add_connection"
      class="dialog_state"
    />
    <div id="dialog">
      <label id="dlg-back" for="dialog_state"></label>
      <div id="dlg-wrap">
        <app-add-connection-dialog
          (event)="closeAddConnectionDialog($event)"
        ></app-add-connection-dialog>
      </div>
    </div>

    <!-- ------------------EDIT SOCIAL MEDIA MODAL------------------ -->
    <input
      type="checkbox"
      name="dialog_state"
      id="dialog-${editing_connection_id}"
      [(ngModel)]="dialog_state_edit_connection"
      class="dialog_state"
    />

    <div id="dialog" *ngIf="editing_connection">
      <label id="dlg-back" for="dialog-${editing_connection_id}"></label>
      <div id="dlg-wrap">
        <app-edit-connection-dialog
          [connection]="editing_connection"
          (event)="closeEditConnectionDialog($event)"
        ></app-edit-connection-dialog>
      </div>
    </div>

    <!-- --------------------PROFILE-------------------- -->
    <main class="main_area">
      <div class="cicle"></div>

      <!-- background photo part -->
      <div class="background-image">
        <img class="back-image" src="{{ user.background_photo }}" />
        <div class="edit-photo">
          <img src="../../../../assets/icons/social_media_icons/edit.svg" />
        </div>
      </div>

      <!-- profile photo and favorites part -->
      <div class="profile-photo">
        <img class="photo" src="{{ user.profile_photo }}" />
        <div class="edit-photo">
          <img src="../../../../assets/icons/social_media_icons/edit.svg" />
        </div>
      </div>

      <!-- information, bio part -->
      <div class="information">
        <div class="name">
          <span style="text-align: center !important">{{ user.fullname }}</span>
          <mat-icon *ngIf="user.verified" class="icon-verify" aria-label="place"
            >verified_user</mat-icon
          >
        </div>

        <div class="country">
          <mat-icon
            *ngIf="user.country || user.city"
            class="icon-place"
            aria-label="place"
            >place</mat-icon
          >
          <p>
            {{ user.country }} {{ user.city && user.country ? "/" : "" }}
            {{ user.city }}
          </p>
        </div>

        <div class="job">
          <mat-icon *ngIf="user.job" class="icon-job" aria-label="place"
            >work</mat-icon
          >
          <p>{{ user.job }}</p>
        </div>
      </div>

      <!-- edit button -->

      <!-- divider -->
      <div class="divider">
        <div class="row">
          <div class="profile-copy">
            <div class="copy-button">
              <mat-icon (click)="copyMessage()">content_copy</mat-icon>
            </div>
            <span>Copy profile link</span>
          </div>

          <div class="see-profile">
            <div class="eye-button">
              <img src="../../../../assets/icons/social_media_icons/eye.svg" />
            </div>
            <span>Look from outside</span>
          </div>

          <div class="edit-links">
            <div class="edit-button-top">
              <div
                [ngClass]="{
                  'edit-close': edit_open == false,
                  'edit-open': edit_open == true
                }"
                (click)="changeEditState()"
              >
                <img
                  src="../../../../assets/icons/social_media_icons/edit.svg"
                />
              </div>
            </div>
            <span>Edit links</span>
          </div>
        </div>
        <hr />
      </div>

      <!-- links - main part  -->
      <div class="links">
        <!-- add more link -->
        <label for="dialog_state">
          <div class="box">
            <div class="child-box">
              <div class="circle">
                <img
                  src="../../../../assets/icons/social_media_icons/add.svg"
                />
              </div>
              <div class="link-name">
                <h1>Add a link</h1>
              </div>
            </div>
          </div>
        </label>

        <!-- links -->
        <div class="box" *ngFor="let connection of connections">
          <app-link-box [connection]="connection"></app-link-box>

          <label for="dialog-${editing_connection_id}">
            <div
              (click)="openEditDialog(connection._id)"
              [ngClass]="{
                'edit-link-close': edit_open == false,
                'edit-link-open': edit_open == true
              }"
            >
              <img src="../../../../assets/icons/social_media_icons/edit.svg" />
            </div>
          </label>
        </div>
      </div>
    </main>
  </div>
</div>
