.page {
    height: calc(100vh - 80px);
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    // background: lightslategray;

    main {
        // background: lightskyblue;
        text-align: center;
        justify-items: center;
        .cicle {
            transition: 0.25s;
            position: fixed;
            left: -75px;
            bottom: -100px;
            background: #7b77ff;
            border-radius: 50%;
            width: 280px;
            height: 280px;
            z-index: -100;
        }

        .background-image {
            transition: 0.25s;
            //  background: lightsalmon;
            position: relative;
            width: 70%;
            margin: auto;
            .back-image {
                transition: 0.25s;
                position: relative;
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 0px 0px 50px 50px;
            }
            .edit-photo {
                transition: 0.25s;
                cursor: pointer;
                border: 1px solid black;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                right: 0;
                background: white;
                margin: auto;
                height: 55px;
                width: 55px;
                padding: 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .profile-photo {
            transition: 0.25s;
            // background: lightsalmon;
            position: relative;
            top: -75px;
            margin: auto;
            width: 200px;
            height: 200px;
            // background: mediumaquamarine;

            .photo {
                transition: 0.25s;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.61);
            }
            .edit-photo {
                transition: 0.25s;
                cursor: pointer;
                border: 1px solid black;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                right: 0;
                background: white;
                margin: auto;
                height: 55px;
                width: 55px;
                padding: 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .information {
            transition: 0.25s;
            position: relative;
            top: -60px;
            display: list-item;

            // background: moccasin;

            .name {
                transition: 0.25s;
                // background: cornflowerblue;
                span {
                    margin-left: 50px;
                    display: inline-flex;
                    font-size: 4.2em;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }
                .icon-verify {
                    margin-left: 10px;
                    color: rgb(4, 245, 4);
                }
            }

            .country {
                transition: 0.25s;
                //background: cornflowerblue;

                p {
                    display: inline-flex;
                    font-size: 1.2em;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin: 0;
                    margin-top: 5px;
                }
                .icon-place {
                    font-size: 1em;
                }
            }

            .job {
                transition: 0.25s;
                //background: darkgreen;

                p {
                    display: inline-flex;
                    font-size: 1.2em;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin: 0;
                }
                .icon-job {
                    font-size: 1em;
                }
            }
        }

        .divider {
            transition: 0.25s;
            //background: honeydew;
            margin: auto;
            position: relative;
            top: -50px;
            width: 30%;

            .edit-close {
                transition: 0.25s;
                cursor: pointer;
                border: 1px solid black;
                border-radius: 50%;
                position: relative;
                left: 45%;
                //background: skyblue;
                margin: auto;
                height: 45px;
                width: 45px;
                padding: 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .edit-open {
                transition: 0.25s;
                cursor: pointer;
                background: lightcoral;
                border-radius: 50%;
                position: relative;
                left: 45%;
                //background: skyblue;
                margin: auto;
                height: 45px;
                width: 45px;
                padding: 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .links {
            transition: 0.25s;
            position: relative;
            top: -50px;
            margin: auto;
            // background: lightpink;
            width: 30%;

            .box {
                transition: 0.25s;
                // background: seagreen;
                float: inline-start;
                margin: 10px;
                position: relative;
                display: inline-table;
                //    background: black;
                width: 120px;

                a:link {
                    text-decoration: none !important;
                }

                .child-box {
                    cursor: pointer;
                    //  background: rgba(205, 4, 245, 0.61);

                    .circle {
                        margin: auto;
                        background: #ff000010;
                        height: 85px;
                        width: 85px;
                        border-radius: 50%;
                        padding: 22%;

                        img {
                            max-width: 100%;
                        }
                    }

                    .link-name {
                        margin: auto;
                        h1 {
                            text-decoration: initial;
                            font-size: 1.1em;
                        }
                    }
                }

                .edit-link-open {
                    cursor: pointer;
                    background: lightcoral;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 35%;
                    right: 10%;
                    //background: skyblue;
                    margin: auto;
                    height: 35px;
                    width: 35px;
                    padding: 7px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .edit-link-close {
                    display: none;
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////
//inside of modal
.add-content {
    .page-title {
        margin: auto;
        text-align: center;
        font-size: 2em;
    }

    mat-divider {
        margin: 15px 8% 15px 8%;
        color: black;
    }

    .select {
        margin: 15px 8% 15px 8%;

        .title {
            font-size: 1.1em;
            margin-left: 5%;
        }

        .select-box {
            margin-top: 1.5%;
        }
    }

    .profile-link {
        margin: 5% 8% 15px 8%;
        .title {
            font-size: 1.1em;
            margin-left: 5%;
        }

        .link-field {
            margin-top: 1.5%;
            input {
                border: 0;
                background: none;
                //text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.397);
                background: #ffffff;
                padding: 14px;
                width: 100%;
                outline: none;
                color: black;
                border-radius: 20px;
                font-size: 1.5em;
            }
        }
    }

    .button-box {
        input {
            border: 0;
            background: none;
            display: block;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            border: 2px solid #7b77ff;
            padding: 7px 60px;
            outline: none;
            color: black;
            border-radius: 50px;
            transition: 0.25s;
            cursor: pointer;
            font-size: 1.1em;
        }

        input[type="submit"]:hover {
            background: #7b77ff;
        }
    }

    .delete-account {
        text-align: center;
        cursor: pointer;
        color: rgba(250, 4, 4, 0.411);
        margin-top: 40px;

        p {
            margin: auto;
            font-size: 1.2em;
        }
    }

    .delete-account:hover {
        color: rgb(250, 4, 4);
    }
}

.icon-title {
    margin: auto;
    text-align: center;
    height: 35px;
    width: 35px;

    img {
        max-width: 100%;
    }
}

.edit-link-content {
    .title {
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.7em;

        p {
            text-align: center;
        }
    }

    .previous-link {
        margin: 0px 8% 15px 8%;
        .previous-title {
            font-size: 1.1em;
            margin-left: 5%;
            color: rgba(41, 39, 39, 0.5);
        }

        .link-field {
            margin-top: 1.5%;
            position: relative;
            input {
                border: 0;
                background: none;
                //text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.397);
                background: #ffffff;
                padding: 14px;
                width: 100%;
                outline: none;
                color: rgba(41, 39, 39, 0.5);
                border-radius: 20px;
                font-size: 1.3em;
            }

            .copy-button {
                background: transparent;
                border: none;
                position: absolute;
                top: 20%;
                right: 2%;
                text-align: center;
                cursor: pointer;
                outline: none;
            }
        }
    }

    .new-link {
        margin: 0px 8% 15px 8%;
        .new-title {
            font-size: 1.1em;
            margin-left: 5%;
        }
        .link-field {
            margin-top: 1.5%;
            position: relative;
            input {
                border: 0;
                background: none;
                //text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.397);
                background: #ffffff;
                padding: 14px;
                width: 100%;
                outline: none;
                border-radius: 20px;
                font-size: 1.3em;
            }
        }
    }

    .button-box {
        input {
            border: 0;
            background: none;
            display: block;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            border: 2px solid #7b77ff;
            padding: 7px 60px;
            outline: none;
            color: black;
            border-radius: 50px;
            transition: 0.25s;
            cursor: pointer;
            font-size: 1.1em;
        }

        input[type="submit"]:hover {
            background: #7b77ff;
        }
    }

    .delete-account {
        text-align: center;
        cursor: pointer;
        color: rgba(250, 4, 4, 0.411);
        margin-top: 40px;

        p {
            margin: auto;
            font-size: 1.2em;
        }
    }
    .delete-account:hover {
        color: rgb(250, 4, 4);
    }

    mat-divider {
        margin: 20px 8% 15px 8%;
        color: black;
    }

    .delete-button {
        margin-top: 20px;
        text-align: center;

        mat-icon {
            cursor: pointer;
            color: rgba(250, 4, 4, 0.411);
        }

        mat-icon:hover {
            color: rgb(250, 4, 4);
        }
    }
}

/////////////////////////////////////////////////////////////////
//MODAL PART
#console {
    display: none;
}

#dialog {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;

    #dlg-back {
        position: absolute;
        overflow-x: hidden;
        top: 0;
        left: 0;
        width: 100%;
        width: 100vw;
        height: 100vh;
        cursor: pointer;
    }

    #dlg-wrap {
        position: relative;
        z-index: 1;
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 800px;
        border-radius: 50px;
        /*border: 1px solid #969696;*/
        background: #fff;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
}

.dialog_state {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.dialog_state:checked + #dialog,
#dialog.dialog_open {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.dialog_state:checked + #dialog #dlg-wrap {
    max-height: 80vh;
    opacity: 1;
    padding: 2rem;
}

#dlg-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.main_area {
    transition: all 0.5s ease-out;
}

.dialog_state:checked ~ .main_area,
.main_area.dialog_open {
    filter: blur(20px);
}

.dialog_state:checked {
    .main_area {
        filter: blur(20px);
    }
}

//inside- modal
.select {
    .select-box {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        color: #60666d;

        .select-box__list {
            max-height: 230px;
            background: white;
            overflow: auto;

            .select-box__option {
                float: left;
                .circle {
                    margin: auto;
                    margin-bottom: 15px;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    img {
                        max-width: 100%;
                    }
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }

        &__current {
            position: relative;
            box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
            cursor: pointer;
            outline: none;

            &:focus {
                & + .select-box__list {
                    opacity: 1;

                    // We have to set "animation-name: none;" to make the list visible (read below how it works)

                    animation-name: none;

                    .select-box__option {
                        cursor: pointer;
                    }
                }

                .select-box__icon {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 20px;
            opacity: 0.3;
            transition: 0.2s ease;
        }

        &__value {
            display: flex;
        }

        .select-box__input-text {
            margin: auto;
            border: 1px solid rgba(19, 15, 15, 0.452);
            border-radius: 20px;

            .circle {
                float: left;
                margin: auto;
                height: 35px;
                width: 35px;
                img {
                    max-width: 100%;
                }
            }
            p {
                margin: auto;
                margin-left: 10px;
                margin-top: 5px;
                float: left;
                font-size: 1.5rem;
            }
        }

        &__input {
            display: none;

            &:checked + .select-box__input-text {
                display: block;
            }
        }

        &__input-text {
            display: none;
            width: 100%;
            margin: 0;
            padding: 15px;
            background-color: #fff;
        }

        &__list {
            position: absolute;
            width: 100%;
            padding: 0;
            list-style: none;
            opacity: 0;

            // We need to use animation with delay.
            // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
            // This delay will not be noticed because we set "opacity" to "0".
            // We also use "animation-fill-mode: forwards" to make the list stay hidden.

            animation-name: HideList;
            animation-duration: 0.5s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: step-start;
            box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        }

        &__option {
            display: block;
            padding: 15px;
            background-color: #fff;

            &:hover,
            &:focus {
                color: #546c84;
                background-color: #fbfbfb;
            }
        }
    }

    @keyframes HideList {
        from {
            transform: scaleY(1);
        }
        to {
            transform: scaleY(0);
        }
    }
}

@media screen and (max-width: 992px) {
    .page {
        main {
            .cicle {
                left: -15px !important;
                bottom: -20px !important;
                width: 70px !important;
                height: 70px !important;
            }

            .background-image {
                width: 100% !important;
                .back-image {
                    height: 150px !important;
                    border-radius: 0px 0px 20px 20px !important;
                }
                .edit-photo {
                    height: 30px !important;
                    width: 30px !important;
                    padding: 5px !important;
                    img {
                        max-width: 80% !important;
                        max-height: 80% !important;
                    }
                }
            }

            .profile-photo {
                // background: mediumaquamarine;
                top: -50px !important;
                width: 110px !important;
                height: 110px !important;

                .photo {
                }
                .edit-photo {
                    height: 30px !important;
                    width: 30px !important;
                    padding: 5px !important;
                    img {
                        max-width: 80% !important;
                        max-height: 80% !important;
                    }
                }
            }

            .information {
                // background: moccasin;
                top: -40px !important;

                .name {
                    // background: cornflowerblue;
                    span {
                        margin-left: 30px !important;
                        font-size: 2em !important;
                    }
                    .icon-verify {
                        margin-left: 2px !important;
                        font-size: 1em !important;
                    }
                }

                .country {
                    //background: cornflowerblue;
                    position: relative;
                    top: -5px;

                    p {
                        font-size: 0.8em !important;
                        margin: 0 !important;
                        margin-top: 0px !important;
                    }
                    .icon-place {
                        font-size: 0.7em !important;
                    }
                }

                .job {
                    //background: darkgreen;
                    position: relative !important;
                    top: -20px !important;

                    p {
                        font-size: 0.8em !important;
                        margin: 0 !important;
                        margin-top: -90px !important;
                    }
                    .icon-job {
                        font-size: 0.7em !important;
                    }
                }
            }

            .divider {
                top: -60px !important;
                width: 50% !important;
                .edit-close {
                    height: 30px !important;
                    width: 30px !important;
                    padding: 5px !important;
                    img {
                        max-width: 80% !important;
                        max-height: 80% !important;
                    }
                }

                .edit-open {
                    height: 30px !important;
                    width: 30px !important;
                    padding: 5px !important;
                    img {
                        max-width: 80% !important;
                        max-height: 80% !important;
                    }
                }
            }

            .links {
                width: 50% !important;
                .box {
                    a:link {
                    }

                    .child-box {
                        .circle {
                            img {
                            }
                        }

                        .link-name {
                            h1 {
                            }
                        }
                    }

                    .edit-link-open {
                        img {
                        }
                    }
                    .edit-link-close {
                    }
                }
            }
        }
    }

    #dialog {
        #dlg-wrap {
            width: 60% !important;
        }
    }

    .add-content {
        .page-title {
        }

        mat-divider {
        }

        .select {

            .title {
            }

            .select-box {
            }
        }

        .profile-link {
            .title {
            }

            .link-field {
                input {
                }
            }
        }

        .button-box {
            input {
            }

            input[type="submit"]:hover {
            }
        }

        .delete-account {

            p {
            }
        }

        .delete-account:hover {
        }
    }
}

@media screen and (max-width: 767px) {
    .page {
        main {
            .cicle {
            }

            .background-image {
                .back-image {
                }
                .edit-photo {
                    img {
                    }
                }
            }

            .profile-photo {
                .photo {
                }
                .edit-photo {
                    img {
                    }
                }
            }

            .information {
                .name {
                    // background: cornflowerblue;
                    span {
                    }
                    .icon-verify {
                    }
                }

                .country {
                    p {
                    }
                    .icon-place {
                    }
                }

                .job {
                    p {
                    }
                    .icon-job {
                    }
                }
            }

            .divider {
                width: 60% !important;
                .edit-close {
                    img {
                    }
                }

                .edit-open {
                    img {
                    }
                }
            }

            .links {
                width: 60% !important;
                .box {
                    a:link {
                    }

                    .child-box {
                        .circle {
                            img {
                            }
                        }

                        .link-name {
                            h1 {
                            }
                        }
                    }

                    .edit-link-open {
                        img {
                        }
                    }
                    .edit-link-close {
                    }
                }
            }
        }
    }

    #dialog {
        #dlg-back {
        }

        #dlg-wrap {
            width: 80% !important;
        }
    }
}

@media screen and (max-width: 575px) {
    .page {
        main {
            .cicle {
            }

            .background-image {
                .back-image {
                }
                .edit-photo {
                    img {
                    }
                }
            }

            .profile-photo {
                .photo {
                }
                .edit-photo {
                    img {
                    }
                }
            }

            .information {
                .name {
                    // background: cornflowerblue;
                    span {
                    }
                    .icon-verify {
                    }
                }

                .country {
                    p {
                    }
                    .icon-place {
                    }
                }

                .job {
                    p {
                    }
                    .icon-job {
                    }
                }
            }

            .divider {
                width: 80% !important;
                .edit-close {
                    img {
                    }
                }

                .edit-open {
                    img {
                    }
                }
            }

            .links {
                width: 80% !important;
                .box {
                    a:link {
                    }

                    .child-box {
                        .circle {
                            img {
                            }
                        }

                        .link-name {
                            h1 {
                            }
                        }
                    }

                    .edit-link-open {
                        img {
                        }
                    }
                    .edit-link-close {
                    }
                }
            }
        }
    }

    #dialog {
        #dlg-back {
        }

        #dlg-wrap {
            width: 90% !important;
        }
    }
}
