<div>
    <div class="page">

        <!-- ------------------ADD MORE MODAL------------------ -->
        <input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">
        <div id='dialog'>
            <label id="dlg-back" for="dialog_state"></label>
            <div id='dlg-wrap'>
                <div class="add-content">
                    <div class="page-title">
                        Add New
                    </div>
                    <mat-divider></mat-divider>
                    <!-- select social media part -->
                    <div class="select">
                        <div class="title">select a social media</div>
                        <div class="select-box">
                            <div class="select-box__current" tabindex="1">
                                <div class="select-box__value" *ngFor="let socialMedia of socialMedias">

                                    <input class="select-box__input" type="radio" id="{{socialMedia.value}}" name="Ben"
                                        checked="checked" />

                                    <label class="select-box__input-text">
                                        <div class="circle">
                                            <img src="{{socialMedia.img}}">
                                        </div>
                                        <p>{{socialMedia.name}}</p>
                                    </label>
                                </div>
                                <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                                    alt="Arrow Icon" aria-hidden="true" />
                            </div>
                            <ul class="select-box__list">
                                <li *ngFor="let socialMedia of socialMedias">
                                    <label class="select-box__option" for="{{socialMedia.value}}"
                                        aria-hidden="aria-hidden">
                                        <div class="circle">
                                            <img src="{{socialMedia.img}}">
                                        </div>
                                        <p>{{socialMedia.name}}</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- media link text field -->
                    <div class="profile-link">
                        <div class="title">profile link</div>

                        <div class="link-field">
                            <input type="text" name="media-link" placeholder="copy link here...">
                        </div>
                    </div>



                    <!-- save link -->
                    <div class="button-box">
                        <label for="dialog_state">
                            <a (click)="addNewSocialMedia()">
                                <input type="submit" name="submit" value="SAVE">
                            </a>
                        </label>
                    </div>
                    <!-- cancel account -->
                    <label for="dialog_state">
                        <div class="delete-account">
                            <p>CANCEL</p>
                        </div>
                    </label>

                </div>
            </div>
        </div>


        <!-- ------------------EDIT SOCIAL MEDIA MODAL------------------ -->
        <input type="checkbox" name="dialog_state" id="dialog-${socialMedia}" class="dialog_state">
        <div id='dialog'>
            <label id="dlg-back" for="dialog-${socialMedia}"></label>
            <div id="dlg-wrap">

                <!-- social media icon -->
                <div class="icon-title">
                    <img src="../../../../assets/social_media_icons/twitter.svg">
                </div>

                <!-- content part -->
                <div class="edit-link-content">
                    <!-- title -->
                    <div class="title">
                        <p>Edit your Twitter profile link</p>
                    </div>

                    <!-- previous link -->
                    <div class="previous-link">
                        <div class="previous-title">previous link</div>
                        <div class="link-field">
                            <input type="text" name="media-link" value="www.link.com" disabled>
                            <button type="button" class="copy-button" (click)="copyMessage('copiedmessage')">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </div>
                    </div>

                    <!-- new link -->
                    <div class="new-link">
                        <div class="new-title">new link</div>
                        <div class="link-field">
                            <input type="text" name="media-link" placeholder="copy new link there...">
                        </div>
                    </div>

                    <!-- save link -->
                    <div class="button-box">
                        <label for="dialog_state">
                            <a>
                                <input type="submit" name="submit" value="SAVE">
                            </a>
                        </label>
                    </div>

                    <!-- cancel account -->
                    <label for="dialog-${socialMedia}">
                        <div class="delete-account">
                            <p>CANCEL</p>
                        </div>
                    </label>

                    <mat-divider></mat-divider>

                    <!-- save link -->
                    <div class="delete-button">
                        <label for="dialog-${socialMedia}">
                            <mat-icon>delete</mat-icon>
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <!-- ---------------------------------------- -->

        <main class="main_area">
            <div class="cicle"></div>

            <!-- background photo part -->
            <div class="background-image">
                <img class="back-image" src="../../../../assets/back_photo.jpg">
                <div class="edit-photo">
                    <img src="../../../../assets/social_media_icons/edit.svg">
                </div>
            </div>

            <!-- profile photo and favorites part -->
            <div class="profile-photo">
                <img class="photo" src="../../../../assets/profile_photos/pp6.jpg">
                <div class="edit-photo">
                    <img src="../../../../assets/social_media_icons/edit.svg">
                </div>
            </div>

            <!-- information, bio part -->
            <div class="information">
                <div class="name">
                    <span>Davis Miller</span>
                    <mat-icon class="icon-verify" aria-label="place">verified_user</mat-icon>
                </div>

                <div class="country">
                    <mat-icon class="icon-place" aria-label="place">place</mat-icon>
                    <p>Holland / Amsterdam</p>
                </div>

                <div class="job">
                    <mat-icon class="icon-job" aria-label="place">work</mat-icon>
                    <p>Software Developer</p>
                </div>
            </div>

            <!-- edit button -->


            <!-- divider -->
            <div class="divider">
                <div [ngClass]="{'edit-close' : edit_open==false, 'edit-open' : edit_open==true}"
                    (click)="changeEditState()">
                    <img src="../../../../assets/social_media_icons/edit.svg">
                </div>
                <hr>
            </div>


            <!-- links - main part  -->
            <div class="links">
                <!-- add more link -->
                <label for="dialog_state">
                    <div class="box">
                        <div class="child-box">
                            <div class="circle">
                                <img src="../../../../assets/social_media_icons/add.svg">
                            </div>
                            <div class="link-name">
                                <h1>Add more</h1>
                            </div>
                        </div>
                    </div>
                </label>


                <!-- links -->
                <div class="box" *ngFor="let number of array">
                    <app-link-box></app-link-box>

                    <label for="dialog-${socialMedia}">
                        <div (click)="openEditModal(number)"
                            [ngClass]="{'edit-link-close' : edit_open==false, 'edit-link-open' : edit_open==true}">
                            <img src="../../../../assets/social_media_icons/edit.svg">
                        </div>
                    </label>

                </div>
            </div>
        </main>

    </div>
</div>