.name {
  span {
    transition: var(--transition-normal);
    font-size: 4.2em;
  }

  .centralize {
    margin-left: 30px;
  }

  .icon-verify {
    transition: var(--transition-normal);
    margin-left: 10px;
    color: var(--verified-icon-color);
  }
}

@media screen and (max-width: 992px) {
  .name {
    span {
      font-size: 2em !important;
    }
    .icon-verify {
      margin-left: 2px !important;
      font-size: 1em !important;
    }
  }
}
