.card {
  cursor: pointer;
  height: 200px;
  width: 40%;
  border: var(--user-card-border);
  border-radius: var(--border-radius-soft);
  position: relative;
  padding: 50px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 10px auto;
  outline: none;
  transition: var(--transition-normal);

  .row {
    position: relative;

    profile-photo {
      transition: var(--transition-normal);
    }

    .name-part {
      transition: var(--transition-normal);
      margin-left: 3%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        transition: var(--transition-normal);
        margin: 0;
        font-size: 1.6em;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
      }

      .icon-verify {
        margin-left: 5%;
        display: flex;
        align-items: center;
        transition: var(--transition-normal);
        font-size: 1.2em;
        margin-top: 5px;
        color: var(--verified-icon-color);
      }
    }

    .place-part {
      transition: var(--transition-normal);
      position: absolute;
      right: 0;
      top: 58%;
      .place {
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        #place-row {
          margin: auto;

          .icon {
            mat-icon {
              transition: var(--transition-normal);
              float: right;
              font-size: 1.8em;
            }
          }
          h1 {
            transition: var(--transition-normal);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif !important;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .card {
    width: 50% !important;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 80% !important;
    .row {
      .name-part {
        h1 {
        }
      }

      .place-part {
        .place {
        }

        #place-row {
          h1 {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .card {
    height: 100px !important;
    padding: 25px !important;
    padding-left: 1.5% !important;
    padding-right: 1.5% !important;
    .row {
      profile-photo {
        margin-left: 7% !important;
      }

      .name-part {
        margin-left: 3% !important;
        h1 {
          font-size: 1em !important;
        }
      }

      .place-part {
        right: 6%;
        top: 62%;
        .place {
          #place-row {
            .icon {
              position: relative;
              mat-icon {
                position: relative;
                top: 15%;
                font-size: 1.2em !important;
              }
            }
            h1 {
              font-size: 0.8em !important;
            }
          }
        }
      }
    }
  }
}
