<div class="card"  [routerLink]="['/user']">

    <div class="row">
        <div class="image-part">
            <img class="image" src="../../../../assets/profile_photos/pp2.jpg">
        </div>
        <div class="name-part">
            <h1>Maria Smirnov</h1>
        </div>


        <div class="place-part">
            <div class="place">
                <div id="place-row" class="row">
                    <mat-icon aria-label="place">place</mat-icon>
                    <h1>Russia</h1>
                </div>
            </div>
        </div>

    </div>

</div>