<div class="card" [routerLink]="['/', username]">
  <div class="content">
    <profile-photo [url]="profile_photo" [in_user_card]="true"></profile-photo>

    <div class="user-information">
      <!-- name -->
      <div class="name-part">
        <span>{{ fullname }}</span>
        <mat-icon *ngIf="verified" class="icon-verify">verified_user</mat-icon>
      </div>

      <!-- place part -->
      <div class="place-container">
        <div class="icon" *ngIf="country">
          <mat-icon aria-label="place">place</mat-icon>
        </div>
        <span>{{ country }}</span>
      </div>
    </div>
  </div>
</div>
