<div *ngIf="user_loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!user_loading">
  <div *ngIf="!user">
    <app-not-found></app-not-found>
  </div>

  <div *ngIf="user">
    <div class="page">
      <app-design-circle></app-design-circle>

      <main>
        <!-- background photo part -->
        <div class="background-image">
          <img class="back-image" src="{{ user.background_photo }}" />
        </div>

        <!-- profile photo and favorites part -->
        <div class="profile-photo">
          <img class="photo" src="{{ user.profile_photo }}" />

          <div
            *ngIf="!is_own_profile && is_logged_in"
            (click)="addToFavorites()"
          >
            <div class="favorite-loading" *ngIf="favorite_loading">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div *ngIf="!favorite_loading">
              <div *ngIf="is_favorite">
                <mat-icon class="icon-favorite">favorite</mat-icon>
              </div>

              <div *ngIf="!is_favorite">
                <mat-icon class="icon-favorite">favorite_border</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <!-- information, bio part -->
        <div class="information">
          <div class="name">
            <span>{{ user.fullname }}</span>
            <mat-icon
              *ngIf="user.verified"
              class="icon-verify"
              aria-label="place"
              >verified_user</mat-icon
            >
          </div>

          <div class="country">
            <mat-icon
              class="icon-place"
              aria-label="place"
              *ngIf="user.country || user.city"
              >place</mat-icon
            >
            <p>
              {{ user.country }} {{ user.city && user.country ? "/" : "" }}
              {{ user.city }}
            </p>
          </div>

          <div class="job">
            <mat-icon class="icon-job" aria-label="place" *ngIf="user.job"
              >work</mat-icon
            >
            <p>{{ user.job }}</p>
          </div>
        </div>

        <hr class="divider" />

        <!-- links - main part  -->
        <div class="links" *ngIf="connections">
          <div class="box" *ngFor="let connection of connections">
            <app-link-box [connection]="connection"></app-link-box>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
