.page {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  height: calc(100vh - 80px);
  overflow: auto;
  width: 100vw;

  design-circle {
    position: fixed;
    left: -75px;
    bottom: -100px;
  }

  main {
    text-align: center;
    .profile-photo {
      position: relative;
      top: -75px;
    }

    .favoriting {
      transition: var(--transition-normal);
      position: relative;
      top: -185px;
      left: 57%;
      width: 50px;
      height: 50px;
    }

    .information {
      transition: var(--transition-normal);
      position: relative;
      top: -110px;
      display: list-item;
    }

    .divider {
      transition: var(--transition-normal);
      position: relative;
      top: -100px;
      width: 30%;
    }

    .links {
      transition: var(--transition-normal);
      position: relative;
      top: -100px;
      margin: auto;
      width: 30%;

      .box {
        transition: var(--transition-normal);
        float: inline-start;
        margin: 10px;
        display: inline-table;
        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .page {
    main {
      .favoriting {
        left: 60% !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .page {
    design-circle {
      left: -15px;
      bottom: -20px;
    }

    main {
      text-align: center;

      .profile-photo {
        top: -50px !important;
      }

      .favoriting {
        top: -110px !important;
        left: 58% !important;
      }

      .information {
        top: -90px !important;
      }

      .divider {
        top: -110px !important;
        width: 50% !important;
      }

      .links {
        width: 50% !important;
        .box {
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page {
    main {
      text-align: center;

      .favoriting {
        left: 62% !important;
      }

      .information {
      }

      .divider {
        width: 60% !important;
      }

      .links {
        width: 60% !important;
        .box {
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .page {
    main {
      text-align: center;

      .favoriting {
        left: 65% !important;
      }

      .information {
      }

      .divider {
        width: 80% !important;
      }

      .links {
        width: 80% !important;
        .box {
        }
      }
    }
  }
}
