<div class="background">
    <div class="page">
        <div class="cicle"></div>

        <main>

            <!-- background photo part -->
            <div class="background-image">
                <img class="back-image" src="../../../../assets/back_photo.jpg">
            </div>

            <!-- profile photo and favorites part -->
            <div class="profile-photo">
                <img class="photo" src="../../../../assets/profile_photos/pp3.jpg">

            </div>

            <!-- information, bio part -->
            <div class="information">

                <div class="name">
                    <h1>Mary Smith</h1>
                    <mat-icon class="icon-verify" aria-label="place">verified_user</mat-icon>
                </div>

                <div class="country">
                    <mat-icon class="icon-place" aria-label="place">place</mat-icon>
                    <p>USA / San Francisco (CA)</p>
                </div>

                <div class="job">
                    <mat-icon class="icon-job" aria-label="place">work</mat-icon>
                    <p>Developer Advocate</p>
                </div>


            </div>

            <hr class="divider">

            <!-- links - main part  -->
            <div class="links">
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                <div class="box">
                    <app-link-box></app-link-box>
                </div>
                



            </div>




        </main>

    </div>
</div>