<div *ngIf="user_loading">
  <app-loading></app-loading>
</div>

<div *ngIf="!user_loading">
  <div *ngIf="!user">
    <app-not-found></app-not-found>
  </div>

  <div *ngIf="user">
    <div class="page">
      <design-circle></design-circle>

      <main>
        <div class="background-photo">
          <background-photo [url]="user.background_photo"></background-photo>
        </div>

        <div class="profile-photo">
          <profile-photo [url]="user.profile_photo"></profile-photo>
        </div>

        <div class="favoriting">
          <app-favoriting
            *ngIf="!is_own_profile && is_logged_in"
            [is_favorite]="is_favorite"
            (event)="changeFavoriteRelation($event)"
          ></app-favoriting>
        </div>

        <!-- information, bio part -->
        <div class="information">
          <fullname [fullname]="user.fullname" [verified]="user.verified">
          </fullname>

          <biography
            [country]="user.country"
            [city]="user.city"
            [job]="user.job"
          >
          </biography>
        </div>

        <hr class="divider" />

        <!-- links - main part  -->
        <div class="links" *ngIf="connections">
          <div class="box" *ngFor="let connection of connections">
            <app-link-box [connection]="connection"></app-link-box>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
