.background {
  overflow-x: hidden;

  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;

  main {
    //   background: lightblue;
    height: calc(100vh - 80px);
    width: 100vw;

    .search-bar {
      text-align: center;
      //   background: lightcoral;
      padding-top: 15px;
      padding-bottom: 20px;
      transition: 0.25s;

      .search {
        position: relative;
        margin: auto;
        margin-left: 32%;
        margin-right: 32%;
        height: auto;
        transition: 0.25s;

        .searchTerm {
          transition: 0.25s;
          display: flex;
          font-size: 2em;
          width: 100%;
          border: 1px solid #7b77ff;
          padding: 5px;
          padding-left: 20px;
          padding-right: 50px;
          border-radius: 50px;
          outline: none;
          color: #1f1ab8;
        }
        .searchTerm:focus {
          color: #7b77ff;
        }

        .searchButton {
          background: transparent;
          border: none;
          position: absolute;
          top: 20%;
          right: 2%;
          text-align: center;
          color: #7b77ff;
          cursor: pointer;
          font-size: 20px;
          outline: none;
        }
      }
    }

    .profile-box {
      //    background: lightgreen;
      width: 100%;
      //  background: lightgray;
    }

    .spinner {
      margin-top: 20px;
      mat-spinner {
        margin: auto;
      }
    }

    .search-information {
      transition: 0.25s;
      text-align: center;
      margin-top: 4%;
      .image-container {
        transition: 0.25s;
        margin: auto;
        width: 450px;
      }
      .information-container {
        transition: 0.25s;
        margin-top: 10px;
        span {
          font-size: 1rem;
          letter-spacing: 2px;
          line-height: 1;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          word-break: keep-all;
        }
      }
    }
  }
}

// ::placeholder{
//     margin: 10px;
// }

@media screen and (max-width: 992px) {
  main {
    .search-bar {
      .search {
        margin-left: 10% !important;
        margin-right: 10% !important;

        .searchTerm {
        }

        .searchButton {
        }
      }
    }

    .profile-box {
      //  background: lightgray;
    }

    .search-information {
      margin-top: 6% !important;
      .image-container {
        width: 300px !important;
      }
      .information-container {
        span {
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  main {
    .search-bar {
      padding-top: 25px !important;
      padding-bottom: 35px !important;
      .search {
        .searchTerm {
          font-size: 1.5em !important;
        }

        .searchButton {
          font-size: 15px !important;
        }
      }
    }

    .profile-box {
      //  background: lightgray;
    }

    .search-information {
      margin-top: 25% !important;
      .image-container {
        width: 200px !important;
      }
      .information-container {
        margin-top: 10px !important;
        span {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}
