<div class="background">
  <main>
    <div class="search-bar">
      <div class="search">
        <input
          type="text"
          #input="ngModel"
          class="searchTerm"
          placeholder="search..."
          [(ngModel)]="search_text"
        />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <div class="profile-box" *ngIf="users != undefined">
      <app-user-card
        *ngFor="let user of users"
        [username]="user.username"
        [profile_photo]="user.profile_photo"
        [fullname]="user.fullname"
        [country]="user.country"
        [verified]="user.verified"
      ></app-user-card>
    </div>

    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="25"></mat-spinner>
    </div>

    <div class="search-information" *ngIf="users == undefined && !loading">
      <div class="image-container">
        <img src="../../../assets/svg/search.svg" />
      </div>
      <div class="information-container">
        <span class="page-explanation"> search with username or fullname</span>
      </div>
    </div>
  </main>
</div>
