:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-text {
    position: absolute;
    left: 30px;
    color: black;
}

.toolbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #7b77ff;
    color: white;
    font-weight: 600;
    font-size: 2em;
}

.icon-login {
    position: absolute;
    top: 2%;
    bottom: 2%;
    right: 60px;
    color: white;
    font-size: 1.5em;
}

.content {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
