.background {
  overflow-x: hidden;

  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;

  design-circle {
    position: fixed;
    left: -75px;
    bottom: -100px;
  }

  main {
    height: calc(100vh - 80px);
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr;
  }

  .content-text {
    text-align: center;
    .text {
      position: relative;
      transition: 0.25s;
      margin: auto;
      margin-top: 30px;
      width: 45%;
      height: auto;
      font-size: 3em;

      .divider {
        position: relative;
        text-align: center;
        width: 45%;
        margin: auto;
      }
    }
  }

  .favorite-information {
    transition: 0.25s;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;

    .image-container {
      transition: 0.25s;
      width: 450px;
    }

    .information-container {
      transition: 0.25s;
      max-width: 80%;
      text-align: center;
      margin-top: 10px;
      span {
        font-size: 1rem;

        .search-link {
          cursor: pointer;
          outline: none;
          color: var(--primary-color);
        }
      }
    }
  }

  .profile-box {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .text {
    width: 65% !important;
  }

  .favorite-information {
    margin-top: 6% !important;
    .image-container {
      width: 300px !important;
    }

    .information-container {
      margin-top: 10px;
      span {
        font-size: 0.9rem !important;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .content-text {
    .text {
      font-size: 1.7em !important;
    }
  }

  .text {
    width: 90% !important;
    .divider {
      width: 80% !important;
    }
  }

  .favorite-information {
    margin-top: 25% !important;
    .image-container {
      width: 200px !important;
    }

    .information-container {
      span {
        font-size: 0.8rem !important;
      }
    }
  }
}
