<div class="background">
    <div class="main">
        <main>

            <div class="content-text">
                <div class="text">
                    <p>Favorites</p>
                    <hr>
                </div>
            </div>


            <div class="profile-box">
                <div class="container">
                    <app-user-card></app-user-card>
                </div>
                <div class="container">
                    <app-user-card></app-user-card>
                </div>
            </div>

        </main>
    </div>
</div>