<div class="background" *ngIf="favorites">
  <design-circle [hide_in_small_screen]="true"></design-circle>
  <div class="main">
    <main>
      <div class="content-text">
        <div class="text">
          <p>Favorites</p>
          <div class="divider">
            <hr />
          </div>
        </div>
      </div>

      <div class="favorite-information" *ngIf="favorites?.length == 0">
        <div class="image-container">
          <img src="../../../assets/svg/empty_favorite_page.svg" />
        </div>

        <div class="information-container">
          <span class="page-explanation">
            Add your friends to your favorite list. Start with
            <span class="search-link" [routerLink]="['/search']"
              >searching for them</span
            >.</span
          >
        </div>
      </div>

      <div class="profile-box">
        <app-user-card
          *ngFor="let favorite of favorites"
          [username]="favorite.favorite_user.username"
          [profile_photo]="favorite.favorite_user.profile_photo"
          [fullname]="favorite.favorite_user.fullname"
          [country]="favorite.favorite_user.country"
          [verified]="favorite.favorite_user.verified"
        ></app-user-card>
      </div>
    </main>
  </div>
</div>
