<div *ngIf="!favorites">
  <app-loading></app-loading>
</div>

<div class="background" *ngIf="favorites">
  <app-design-circle [hide_in_small_screen]="true"></app-design-circle>
  <div class="main">
    <main>
      <div class="content-text">
        <div class="text">
          <p>Favorites</p>
          <div class="divider">
            <hr />
          </div>
        </div>
      </div>

      <div class="profile-box">
        <app-user-card
          *ngFor="let favorite of favorites"
          [username]="favorite.favorite_user.username"
          [profile_photo]="favorite.favorite_user.profile_photo"
          [fullname]="favorite.favorite_user.fullname"
          [country]="favorite.favorite_user.country"
        ></app-user-card>
      </div>
    </main>
  </div>
</div>
