.add-content {
  .page-title {
    margin: auto;
    text-align: center;
    font-size: 2em;
    transition: 0.25s;
  }

  mat-divider {
    margin: 15px 8% 15px 8%;
    color: black;
  }

  .select {
    margin: 15px 8% 15px 8%;

    .title {
      font-size: 1.1em;
      margin-left: 5%;
      //background: red;
      transition: 0.25s;
    }

    .select-box {
      margin-top: 1.5%;
    }
  }

  .profile-link {
    margin: 5% 8% 15px 8%;
    .title {
      font-size: 1.1em;
      margin-left: 5%;
    }

    .link-field {
      margin-top: 1.5%;
      input {
        border: 0;
        background: none;
        //text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.397);
        background: #ffffff;
        padding: 14px;
        width: 100%;
        outline: none;
        color: black;
        border-radius: 20px;
        font-size: 1.5em;
      }
    }
  }

  .error {
    text-align: center;
    span {
      color: rgba(255, 0, 0, 0.507);
    }
  }

  .button-box {
    input {
      border: 0;
      background: none;
      display: block;
      margin: auto;
      margin-top: 40px;
      text-align: center;
      border: 2px solid #7b77ff;
      padding: 7px 60px;
      outline: none;
      color: black;
      border-radius: 50px;
      transition: 0.25s;
      cursor: pointer;
      font-size: 1.1em;
    }

    input[type="submit"]:hover {
      background: #7b77ff;
    }
    .spinner {
      display: block;
      margin: auto;
      margin-top: 40px;
      mat-spinner {
        margin: auto;
        text-align: center;
      }
    }
  }

  .delete-account {
    text-align: center;
    cursor: pointer;
    color: rgba(250, 4, 4, 0.411);
    margin-top: 40px;

    p {
      margin: auto;
      font-size: 1.2em;
    }
  }

  .delete-account:hover {
    color: rgb(250, 4, 4);
  }
}

.select {
  .select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #60666d;

    .select-box__list {
      max-height: 230px;
      background: white;
      overflow: auto;

      .select-box__option {
        float: left;
        .circle {
          margin: auto;
          margin-bottom: 15px;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          img {
            max-width: 100%;
          }
        }
        p {
          font-size: 1.2rem;
        }
      }
    }

    &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;

      &:focus {
        & + .select-box__list {
          opacity: 1;

          // We have to set "animation-name: none;" to make the list visible (read below how it works)

          animation-name: none;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }

    &__value {
      display: flex;
    }

    .select-box__input-text {
      margin: auto;
      border: 1px solid rgba(19, 15, 15, 0.452);
      border-radius: 20px;

      .circle {
        float: left;
        margin: auto;
        height: 35px;
        width: 35px;
        img {
          max-width: 100%;
        }
      }
      p {
        margin: auto;
        margin-left: 10px;
        margin-top: 5px;
        float: left;
        font-size: 1.5rem;
      }
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff;
    }

    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;

      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.

      animation-name: HideList;
      animation-duration: 0.1s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }

    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;

      &:hover,
      &:focus {
        color: #546c84;
        background-color: #fbfbfb;
      }
    }
  }

  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
}

@media screen and (max-width: 992px) {
  .add-content {
    .page-title {
      font-size: 1.5em !important;
    }

    .select {
      .title {
        font-size: 0.9em !important;
      }

      .select-box {
        .select-box__list {
          .select-box__option {
            .circle {
              height: 25px !important;
              width: 25px !important;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .profile-link {
      .title {
        font-size: 0.9em !important;
      }

      .link-field {
        input {
          font-size: 1em !important;
        }
      }
    }

    .button-box {
      input {
        font-size: 1em !important;
      }

      input[type="submit"]:hover {
      }
    }

    .delete-account {
      p {
        font-size: 1em !important;
      }
    }

    .delete-account:hover {
    }
  }

  .select-box__input-text {
    p {
      font-size: 1.1rem !important;
    }
  }
}

@media screen and (max-width: 767px) {
}
