.background {
    background: #7b77ff;

    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;

    .title-box{

      //  background: lightseagreen;
        grid-area: title;
    }
    .search-bar-box{
     //   background: lightyellow;
        grid-area: search;
    }
    .image-box{
        grid-area: image;
        // background: lightpink;
    }


    main {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: "search search" 
                             "title image";

    }

    .page {
        clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 73%, 72% 100%, 0 100%);
        background: white;
        // overflow-y: auto;
        // overflow-x: hidden;

        position: fixed;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        //  background: blue;
    }
    .title {
        margin-left: 11%;
        margin-top: 15%;
        font-size: 7vh;
        letter-spacing: 2px;
        text-shadow: 2px 2px;
        line-height: 1.3;
        word-break: keep-all;
    }

    .image {

        position: fixed;
        display: block;
        height: auto;
        max-width: 50%;
        background-size: cover;
    }
}
