<div class="background">
  <div class="page">


    <main>

      <div class="search-bar-box">
        <!-- <div class="search-bar">
            <app-search-bar></app-search-bar>
          </div> -->
        <app-search-bar></app-search-bar>


      </div>

      <div class="row">
        <div class="col-4 title-box">
          <span class="title">Now, it is easy to find someone.</span>
        </div>


        <div class="col-5 image-box">
          <img class="image" src="../../../../assets/sml_landing_image.png">
        </div>
      </div>



    </main>
  </div>
</div>