<div class="background">
  <div class="page">
    <main>
      <div class="search-box">
        <form method="get" action="">
          <div class="search-bar">
            <input type="text" class="searchTerm" placeholder="Search..." />
            <a [routerLink]="['search']">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </a>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col title-box">
          <span class="title">Now, it is easy to find someone.</span>
        </div>

        <div class="col image-box">
          <img class="image" src="../../../../assets/sml_landing_image.png" />
        </div>
      </div>
    </main>
  </div>
</div>
