<!-- <div class="container" style="max-height: 350px; overflow: auto"> </div> -->
<div class="tabs" style="max-height: 500px; min-height: 400px">
  <input
    type="radio"
    id="explore-tab"
    name="tab-control"
    checked
    (click)="selectTab('explore-tab')"
  />
  <input
    type="radio"
    id="custom-tab"
    name="tab-control"
    (click)="selectTab('custom-tab')"
  />
  <ul>
    <li title="Shipping">
      <label for="explore-tab" role="button"
        ><svg class="svg-icon" viewBox="0 0 20 20">
          <path
            d="M18.555,15.354V4.592c0-0.248-0.202-0.451-0.45-0.451H1.888c-0.248,0-0.451,0.203-0.451,0.451v10.808c0,0.559,0.751,0.451,0.451,0.451h16.217h0.005C18.793,15.851,18.478,14.814,18.555,15.354 M2.8,14.949l4.944-6.464l4.144,5.419c0.003,0.003,0.003,0.003,0.003,0.005l0.797,1.04H2.8z M13.822,14.949l-1.006-1.317l1.689-2.218l2.688,3.535H13.822z M17.654,14.064l-2.791-3.666c-0.181-0.237-0.535-0.237-0.716,0l-1.899,2.493l-4.146-5.42c-0.18-0.237-0.536-0.237-0.716,0l-5.047,6.598V5.042h15.316V14.064z M12.474,6.393c-0.869,0-1.577,0.707-1.577,1.576s0.708,1.576,1.577,1.576s1.577-0.707,1.577-1.576S13.343,6.393,12.474,6.393 M12.474,8.645c-0.371,0-0.676-0.304-0.676-0.676s0.305-0.676,0.676-0.676c0.372,0,0.676,0.304,0.676,0.676S12.846,8.645,12.474,8.645"
          ></path></svg
        ><br /><span>Explore</span></label
      >
    </li>
    <li title="Returns">
      <label for="custom-tab" role="button"
        ><svg class="svg-icon" viewBox="0 0 20 20">
          <path
            d="M10,6.536c-2.263,0-4.099,1.836-4.099,4.098S7.737,14.732,10,14.732s4.099-1.836,4.099-4.098S12.263,6.536,10,6.536M10,13.871c-1.784,0-3.235-1.453-3.235-3.237S8.216,7.399,10,7.399c1.784,0,3.235,1.452,3.235,3.235S11.784,13.871,10,13.871M17.118,5.672l-3.237,0.014L12.52,3.697c-0.082-0.105-0.209-0.168-0.343-0.168H7.824c-0.134,0-0.261,0.062-0.343,0.168L6.12,5.686H2.882c-0.951,0-1.726,0.748-1.726,1.699v7.362c0,0.951,0.774,1.725,1.726,1.725h14.236c0.951,0,1.726-0.773,1.726-1.725V7.195C18.844,6.244,18.069,5.672,17.118,5.672 M17.98,14.746c0,0.477-0.386,0.861-0.862,0.861H2.882c-0.477,0-0.863-0.385-0.863-0.861V7.384c0-0.477,0.386-0.85,0.863-0.85l3.451,0.014c0.134,0,0.261-0.062,0.343-0.168l1.361-1.989h3.926l1.361,1.989c0.082,0.105,0.209,0.168,0.343,0.168l3.451-0.014c0.477,0,0.862,0.184,0.862,0.661V14.746z"
          ></path>
        </svg>
        <br /><span>Custom</span></label
      >
    </li>
  </ul>

  <div class="slider">
    <div class="indicator"></div>
  </div>

  <!-- ALL CONTENT HERE -->
  <div class="content">
    <!-- gif/sticker section -->
    <section class="explore-section">
      <div class="search-box">
        <input
          type="text"
          #input="ngModel"
          [(ngModel)]="search_text"
          name="gif-search-text"
          placeholder="search..."
        />
      </div>

      <div class="giphy-message">
        <span class="giphy-text"
          >Powered By
          <a href="https://giphy.com"><span class="giphy-link">GIPHY</span></a>
        </span>
      </div>

      <div class="images">
        <!-- gifs -->
        <div class="content-container">
          <span>gifs</span>

          <div class="spinner" *ngIf="!gifs">
            <mat-spinner diameter="25"></mat-spinner>
          </div>

          <div class="image-container" *ngIf="gifs">
            <div class="image" *ngFor="let gif of gifs.data">
              <!-- radio start -->
              <input
                type="radio"
                name="contentGroup"
                value="1"
                id="{{ gif.images.original.url }}"
                (click)="onContentSelected(gif)"
              />
              <label class="checkbox-alias" for="{{ gif.images.original.url }}">
                <img src="{{ gif.images.fixed_height.url }}" alt="gif" />
              </label>

              <!-- radio over -->
            </div>
          </div>
        </div>

        <!-- stickers -->
        <div class="content-container">
          <span>stickers</span>

          <div class="spinner" *ngIf="!stickers">
            <mat-spinner diameter="25"></mat-spinner>
          </div>

          <div class="image-container" *ngIf="stickers">
            <div class="image" *ngFor="let sticker of stickers.data">
              <input
                type="radio"
                name="contentGroup"
                value="1"
                id="{{ sticker.images.original.url }}"
                (click)="onContentSelected(sticker)"
              />
              <label
                class="checkbox-alias"
                for="{{ sticker.images.original.url }}"
              >
                <img src="{{ sticker.images.fixed_height.url }}" alt="gif" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- custom photo -->
    <section class="custom-section">
      <div class="title"><span> upload here </span></div>

      <div class="image-container">
        <!-- cancel - loading button of images -->
        <div class="cancel-loading-button" *ngIf="file_uploaded">
          <div
            class="cancel"
            *ngIf="!image_cropping_loading"
            (click)="removeImage()"
          >
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path
                d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
              ></path>
            </svg>
          </div>

          <div class="loading" *ngIf="image_cropping_loading">
            <mat-spinner diameter="18"></mat-spinner>
          </div>
        </div>

        <!-- 1 - show upload message -->
        <input
          class="uploadInput"
          type="file"
          (change)="onFileUpload($event) && (cropped_image_value = undefined)"
          accept="image/*"
          [(ngModel)]="cropped_image_value"
          #fileInput
        />

        <div
          class="upload-container"
          (click)="fileInput.click()"
          DragAndDrop
          (fileDropped)="onFileUpload($event)"
          *ngIf="!file_uploaded"
        >
          <div class="upload-message">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path
                d="M15.608,6.262h-2.338v0.935h2.338c0.516,0,0.934,0.418,0.934,0.935v8.879c0,0.517-0.418,0.935-0.934,0.935H4.392c-0.516,0-0.935-0.418-0.935-0.935V8.131c0-0.516,0.419-0.935,0.935-0.935h2.336V6.262H4.392c-1.032,0-1.869,0.837-1.869,1.869v8.879c0,1.031,0.837,1.869,1.869,1.869h11.216c1.031,0,1.869-0.838,1.869-1.869V8.131C17.478,7.099,16.64,6.262,15.608,6.262z M9.513,11.973c0.017,0.082,0.047,0.162,0.109,0.226c0.104,0.106,0.243,0.143,0.378,0.126c0.135,0.017,0.274-0.02,0.377-0.126c0.064-0.065,0.097-0.147,0.115-0.231l1.708-1.751c0.178-0.183,0.178-0.479,0-0.662c-0.178-0.182-0.467-0.182-0.645,0l-1.101,1.129V1.588c0-0.258-0.204-0.467-0.456-0.467c-0.252,0-0.456,0.209-0.456,0.467v9.094L8.443,9.553c-0.178-0.182-0.467-0.182-0.645,0c-0.178,0.184-0.178,0.479,0,0.662L9.513,11.973z"
              ></path>
            </svg>
            <br />
            <span
              >upload or drag and drop your <br />
              photo or gif here...</span
            >
          </div>
        </div>

        <!-- preview if it is gif -->
        <div class="gif-showcase" *ngIf="file_uploaded && uploaded_file_is_gif">
          <div class="gif-container">
            <img [src]="uploaded_gif" alt="gif" />
          </div>
        </div>

        <!-- image cropper -->
        <div
          class="image-cropper-container"
          *ngIf="file_uploaded && !uploaded_file_is_gif"
        >
          <image-cropper
            [imageChangedEvent]="image_for_cropper"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 4"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
            (startCropImage)="startCropImage()"
            alignImage="center"
          ></image-cropper>
        </div>
      </div>
    </section>
  </div>
</div>

<mat-divider></mat-divider>

<div class="buttons">
  <mat-spinner *ngIf="false" class="spinner" diameter="25"></mat-spinner>

  <div *ngIf="true" class="cancel-box">
    <p>CANCEL</p>
  </div>

  <div *ngIf="true" class="confirm-box">
    <a>
      <input type="submit" name="submit" value="Confirm" (click)="confirm()" />
    </a>
  </div>
</div>
