<div>
  <div class="page">
    <main>
      <div class="row">
        <div class="col-4 image-part">
          <img class="image" src="../../../../assets/sign-in.png" />
          <design-circle
            [hide_in_small_screen]="true"
            [size]="'large'"
          ></design-circle>
        </div>
        <div class="col-12 col-lg-7 form">
          <!-- send_code_step -->
          <form
            *ngIf="send_code_step"
            class="box"
            action=""
            method="post"
            #form="ngForm"
          >
            <h1>Password recovery</h1>
            <input
              [(ngModel)]="password_recovery_email"
              type="text"
              name="email"
              placeholder="email"
              required
            />
            <span class="error">{{ error_message }}</span>
            <input
              *ngIf="!processing"
              [disabled]="!form.valid"
              (click)="sendCode()"
              type="submit"
              name="submit"
              value="send code"
            />

            <div class="spinner" *ngIf="processing">
              <mat-spinner [diameter]="25"></mat-spinner>
            </div>

            <h2>or</h2>
            <a class="forgot-password" [routerLink]="['/sign-in']">Sign in </a>
            <span style="margin: 0"> | </span>
            <a class="create-account" [routerLink]="['/sign-up']">
              Create New Account</a
            >
          </form>

          <!-- Verify code -->
          <form
            *ngIf="validate_code_step"
            class="box"
            action=""
            method="post"
            #formValidate="ngForm"
          >
            <h1>Validate Code</h1>
            <span class="success">{{ success_message }}</span>
            <input
              [(ngModel)]="password_recovery_code"
              type="text"
              name="code"
              placeholder="authentication code"
              required
            />
            <span class="error">{{ error_message }}</span>
            <input
              *ngIf="!processing"
              [disabled]="!formValidate.valid"
              (click)="verifyCode()"
              type="submit"
              name="submit"
              value="verify"
            />

            <div class="spinner" *ngIf="processing">
              <mat-spinner [diameter]="25"></mat-spinner>
            </div>

            <h2>or</h2>
            <a class="forgot-password" [routerLink]="['/sign-in']">Sign in </a>
            <span style="margin: 0"> | </span>
            <a class="create-account" [routerLink]="['/sign-up']">
              Create New Account</a
            >
          </form>

          <!-- new password -->
          <form
            *ngIf="change_password_step"
            class="box"
            action=""
            method="post"
            #formNewPassword="ngForm"
          >
            <h1>New Password</h1>
            <span class="success">{{ success_message }}</span>
            <input
              style="margin-top: 50px"
              id="first_password"
              [(ngModel)]="password_recovery_password1"
              type="password"
              name="password"
              placeholder="password"
              required
            />
            <input
              [(ngModel)]="password_recovery_password2"
              type="password"
              name="password"
              placeholder="re-enter password"
              required
            />
            <span class="error">{{ error_message }}</span>
            <input
              *ngIf="!processing"
              [disabled]="!formNewPassword.valid"
              (click)="changePassword()"
              type="submit"
              name="submit"
              value="change password"
            />

            <div class="spinner" *ngIf="processing">
              <mat-spinner [diameter]="25"></mat-spinner>
            </div>

            <h2>or</h2>
            <a class="forgot-password" [routerLink]="['/sign-in']">Sign in </a>
            <span style="margin: 0"> | </span>
            <a class="create-account" [routerLink]="['/sign-up']">
              Create New Account</a
            >
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
