// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$linkomya-primary: mat-palette($mat-indigo);
$linkomya-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$linkomya-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$linkomya-theme: mat-light-theme(
  (
    color: (
      primary: $linkomya-primary,
      accent: $linkomya-accent,
      warn: $linkomya-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($linkomya-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  // cursor: url("../src/assets/arrow_r.cur"), auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// variables
:root {
  // colors
  --primary-color: #7b77ff;
  --page-background-color: #fafafa;
  --text-color: rgb(0, 0, 0);
  --favorite-icon-color: rgba(255, 0, 0, 0.507);
  --error-message-color: red;
  // error color: #ff4a53
  --verified-icon-color: rgb(4, 245, 4);
  --edit-link-background-color: rgba(255, 0, 0, 0.507);

  // border radius
  --border-radius-sharp: 10px;
  --border-radius-soft: 20px;
  --border-radius-circle: 50%;

  --border-radius-background-image-sharp: 0px 0px 10px 10px;
  --border-radius-background-image-soft: 0px 0px 40px 40px;

  // borders
  --confirm-button-border: 1px solid var(--primary-color);
  --small-button-border: 1px solid rgba(73, 73, 73, 0.104);
  --profile-photo-border: 1px solid rgba(73, 73, 73, 0.104);
  --user-card-border: 1px solid rgba(73, 73, 73, 0.501);

  // transition and animations
  --transition-fast: all 0.2s cubic-bezier(0.32, 0, 0.67, 0);
  // all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07) -> smooth animation
  --transition-normal: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
  --transition-slow: all 1s cubic-bezier(0.32, 0, 0.67, 0);
}
